@import './variables';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
  font-family: 'Montserrat', sans-serif;
}

.table-overflow {
  width: max-content;
  th:last-child, td:last-child {
    position: sticky;
    right: 0;
    background-color: #fff;
  }
}

.table-full {
  width: 100%;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.form-custom-map {
  padding: 1rem;
  border-radius: 2px;
  width: calc(100% - 135px);
  background: #fff;
  margin-bottom: 24px;
  display: flex;
  gap: 15px;
  .form-switch {
    height: 15px;
    display: flex;
    gap: 5px;
    align-items: center;
    .form-check-input {
      width: 30px;
      height: 15px;
    }
  }
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.line-clamp-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.custom-check {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: .8rem;
}