@import './variables';

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
.table-overflow {
  width: max-content;
  th:last-child, td:last-child {
    position: sticky;
    right: 0px;
    background-color: #fff;
  }
}

.table-full {
  width: 100%;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}